@import "tailwindcss";

@keyframes slowGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slow-gradient-border {
  background: linear-gradient(90deg, #06b6d4, #1e40af);
  background-size: 200% 200%;
  animation: slowGradientShift 2s ease-in-out infinite;
}

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  border-image: linear-gradient(to right, #3b82f6, #06b6d4) 1;
  transition: border-image 0.5s ease-in-out;
}

.gradient-border:hover {
  border-image: linear-gradient(to right, #06b6d4, #3b82f6) 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 12s linear infinite;
  width: 200%; /* Ensures smooth infinite scrolling */
}
