/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #121212;
    color: white;
  }
  
  /* Logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Menu Items */
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  /* Register Button */
  .register-btn {
    border-radius: 50px;
    border: 2px solid #326DE6;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    padding: 10px 20px;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Hamburger Icon */
  .menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #121212;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      padding: 10px 0;
    }
  }
  
